[alias]
	unstage = reset HEAD --
[user]
	name = Ivan Malykh
	email = ivan@roqua.nl
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
[push]
	default = simple
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = true
[merge]
	tool = Kaleidoscope
[core]
	editor = atom -w
[format]
	pretty=format:%C(yellow)%h  %Cgreen(%ad) %C(red)%d%Creset %s %C(bold blue)<%an>%Creset
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[branch]
	autosetuprebase = always
[github]
	site = https://github.com
	endpoint = https://api.github.com
[reflow]
	git-server = GitHub
